<ActionBar title="Categories"></ActionBar>

<ScrollView>
  <StackLayout style = "background:yellow;">
    <StackLayout class = "animate" [nsRouterLink]="['/category', item._id]" *ngFor = "let item of items" marginBottom = "25" marginTop = "25">
      <Label style = "font-weight: bold;" textAlignment = "center" al class="h2" [text]="item.cat_name + '. '"></Label>
      <Label textAlignment = "center" class="h2" [text]="item.description + '. '"></Label>
      <Image style = "width:75%; border-radius: 15px; border:1px solid black;" [src] = "item.photo"></Image>
    </StackLayout>
  </StackLayout>
</ScrollView>